* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html {
    font-family: sans-serif;
    background: #ffc600;
}
body {
    width: 100%;
}

h2 {
    text-align: center;
    margin-top: 2rem;
}
.inbox {
    width: 50%;
    margin: 40px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 10px 10px 0 rgba(0,0,0,0.1);
}

.item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F1F1F1;
}
    
input[type="checkbox"] {
    margin: 20px;
}

input:checked + p {
    background: #f0e9e9;
    text-decoration: line-through;
}
p {
    width: 100%;
    margin: 0;
      padding: 20px;
      /* transition: all 0.2s; */
      transition: input 0.02s;
      /* flex: 1; */
      font-family:'helvetica neue';
      font-size: 20px;
      font-weight: 200;
      border-left: 1px solid #D1E2FF;
}
