* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    font-size: 4rem;
    padding: 2rem;
}

.controls {
    margin: 2rem;
    
}
.controls label {
    padding: 1rem;
    
}

img{
    background-color: var(--base);
    padding: var(--spacing);
    filter: blur(var(--blur));
}

/* Variables */
:root {
    --blur: 0px;
    --spacing: 10px;
    --base: #ffc600;
}

h1>span {
    color: var(--base);
}

